body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-image: url(black\ foggy\ background.jpg);
    font-size: 62.5%;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.card{
    font-size: 30px;
    display: flex ;
    background-color: rgb(47, 65, 82); 
    border: 1px solid red;
    width: 25%;
    height: 33%;
    justify-content:center;
    flex-wrap:wrap;
    margin: 50 50 50 50

}
.card-img {
    width: 60%;
    height: 40%;
}
.card-title {
    font-size: 2.2rem;
    text-transform: uppercase;
    text-align: center;
    margin-top: 20;
    margin-left: 25;
    margin-right: 25;
}
.card-desc {
    font-size: 1.3rem;
}
