body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-image: url(zombie\ survival.jpg);
    background-position: center;
    background-size:cover;
    font-size: 62.5%;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.card{
    font-size: 30px;
    display: flex ;
    border: 1px solid red;
    width: 25%;
    height: 45%;
    justify-content:center;
    flex-wrap:wrap;
    margin: 40 40 40 40;
    background-color: rgba(34, 34, 34, 0.7)
}
.card-img {
    width: 60%;
    height: 30%;
}
.card-title {
    font-size: 2.2rem;
    text-transform: uppercase;
    text-align: center;
    margin-top: 20;
    margin-left: 25;
    margin-right: 25;
    color: whitesmoke
}
.card-desc {
    font-size: 16px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    color: whitesmoke;
    font-family: 'Inter', sans-serif;;
}
h1 {
    text-align: center;
    width: 50%;
    font-size: 65px;
    color:rgb(194, 194, 194);
    background-color: rgba(34, 34, 34, 0.7);
    margin-top: 40px;
    margin-left: 600px;
    margin-right: 600px;
    border: 1px solid red
}
