body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-image: url(zombie\ survival.jpg);
    background-position: center;
    background-size:cover;
    font-size: 62.5%;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: whitesmoke;
}
.card{
    font-size: 30px;
    display: flex ;
    border: 1px solid red;
    width: 20%;
    height: 45vh;
    justify-content:center;
    flex-wrap:wrap;
    margin: 25 25 25 25;
    background-color: rgba(34, 34, 34, 0.7);
    box-shadow: inset 0px 10px 25px 5px rgba(0,0,0, 0.7);
    transition: all 0.3s;
    outline-offset: 10px;
}
.card:hover{
    transform: scale(1.1);
    outline: 10px solid rgb(173, 45, 173);
    color: rgb(173, 45, 173)
    ;
}
@media screen and (max-width: 1200px){
    .card {
        width: 45%;
    }
}
@media screen and (max-width: 800px){
    .card {
        width: 100%;
    }
}
.card-img {
    width: 60%;
    height: 25%;
}
.card-title {
    font-size: 2.2rem;
    text-transform: uppercase;
    text-align: center;
    margin-top: 20;
    margin-left: 25;
    margin-right: 25;
    color: inherit;
}
.card-desc {
    font-size: 16px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    color: whitesmoke;
    font-family: 'Inter', sans-serif;
}
h1 {
    text-align: center;
    width: 50%;
    font-size: 65px;
    color:rgb(194, 194, 194);
    background-color: rgba(34, 34, 34, 0.7);
    margin-top: 40px;
    margin-left: 600px;
    margin-right: 600px;
    border: 1px solid red;
    transition: all 0.8s ease 0s;
}
h1:hover {
    color: rgb(125, 255, 255);
    border-radius: 50px;
    transition: all 0.8s ease 0s;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.container:hover .card:not(:hover){
    transform: scale(0.9);
    opacity: 0.7;
}
.animation {
    height: 2rem;
    width: 2rem;
    animation: test 5s infinite;
    position: absolute 
}
@keyframes test {
    0% {
        left: 5%;
        top: 40px;
        background-color: rgba(0, 217, 255, 0.486);
    }
    25% {
        left: 20%;
        top: 40px;
        background-color: rgb(21, 255, 0);
    }
    50% {
        left: 20%;
        top: 10%;
        background-color: rgba(0, 217, 255, 0.486);
    }
    75% {
        left: 5%;
        top: 10%;
        background-color: rgb(21, 255, 0);
    }
    100%{
        left: 5%;
        top: 40px;
        background-color: rgba(0, 217, 255, 0.486);
    }
}
